:root {
    /* primary color */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /* neutral color */
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Outfit", serif;
    background-color: var(--Very-dark-blue-main-BG);
    max-width: 1440px;
    height: 100vh;
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--Very-dark-blue-card-BG);
    width: 350px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.container .img {
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    transition: .3s;
}

.container .img::before {
    content: "";
    position: absolute;
    width: 310px;
    height: 310px;
    z-index: 5;
    top: 0;
    left: 0;
    opacity: 0.35;
    transition: .3s;
    border-radius: 10px;
}
.container .img::after {
    font-family: var(--fa-style-family-classic);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    z-index: 6;
    opacity: .89;
}

.container .img:hover::before {
    background: var(--Cyan);
}
.container .img:hover:after {
    content: "\f06e";
    font-weight: 900;
    color: var(--White);
}

.container .img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.container .info {
    margin-top: 20px;
}

.container .info h3 {
    color: var(--White);
    margin-bottom: 14px;
    transition: .3s;
}

.container .info h3:hover {
    color: var(--Cyan);
}

.container .info p {
    color: var(--Soft-blue);
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 17px;
}

.container .info .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--Very-dark-blue-line);
}

.container .info .time img {
    margin-right: 5px;

}

.container .info .time div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.container .info .time div:first-child {
    color: var(--Cyan);
}

.container .info .time div:last-child {
    color: var(--Soft-blue);
}

.container .foot {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.container .foot img {
    width: 30px;
    border-radius: 50%;
    border: 1px solid var(--White);
    margin-right: 10px;
}

.container .foot p {
    color: var(--Soft-blue);
    /* font-size: 14px; */
}

.container .foot span {
    color: var(--White);
    transition: .3s;
    cursor: pointer;
}

.container .foot span:hover {
    color: var(--Cyan);
}